:root {
  --primary: #90ee80;
  --primary-light: #c3facc;
  --secondary: #8880a9;
  --secondary-light: #505581;
  --secondary-very-light: #a7a7a7af;
  --accent: #ffffff;
}

body {
  background-color: #f4f3f2 !important;
}

.custom-bg {
  background: linear-gradient(to right, #0d1023 50%, #ececfc 50%);
}

.bg-left {
  background-color: transparent; /* O lascia il gradient visibile */
}
.accent {
  color: var(--accent);
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.primary-light {
  color: var(--primary-light);
}

.secondary-light {
  color: var(--secondary-light);
}

.secondary-very-light {
  color: var(--secondary-very-light);
}

.accent-bg {
  background-color: var(--accent);
}

.primary-bg {
  background-color: var(--primary);
}

.secondary-bg {
  background-color: var(--secondary);
}

.primary-light-bg {
  background-color: var(--primary-light);
}

.secondary-light-bg {
  background-color: var(--secondary-light);
}

/* BUTTONS */

.btn-primary {
  background-image: linear-gradient(92.88deg, var(--secondary-light) 9.16%, var(--secondary) 64.72%) !important;
  border-radius: 8px !important;
  border-style: none !important;
  box-sizing: border-box !important;
  color: #ffffff !important;
  cursor: pointer !important;
  flex-shrink: 0 !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  text-align: center !important;
  transition: all 0.5s !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  touch-action: manipulation !important;
  text-transform: uppercase !important;
}

.btn-primary:hover {
  box-shadow: #2b2b2b88 0 1px 10px;
  transition-duration: 0.1s;
}

/* FORMS */

.form-control:focus {
  border-color: var(--secondary) !important;
  box-shadow: 0 0 0 0.1rem rgba(73, 65, 109, 0.7) !important;
}

/* CHECKBOXES */

.form-check-input:checked {
  background-color: var(--secondary-light) !important;
  border-color: #ffffff !important ;
}

.form-check-input:focus {
  border-color: grey !important;
  outline: 0;
  box-shadow: none !important;
}
