:root {
  --primary: #90ee80;
  --primary-light: #c3facc;
  --secondary: #8880a9;
  --secondary-light: #505581;
  --secondary-very-light: #a7a7a7af;
  --main-bg-light: #ececfc;
  --maing-bg-dark: #0d1023;
}

* {
  box-sizing: border-box !important;
}

body {
  background-color: var(--main-bg-light) !important;
}

a {
  color: black !important;
  text-decoration: none !important;
  font-weight: 500 !important;
}

a:hover {
  text-decoration-line: underline !important;
  text-decoration-style: wavy !important;
  text-decoration-thickness: 1.5px !important;
  text-underline-offset: 3px !important;
  text-decoration-color: var(--secondary) !important;
}

.custom-fs {
  font-size: 0.8rem !important;
}

.custom-bg {
  background: linear-gradient(to right, #0d1023 50%, #ececfc 50%);
}

.main-bg-light {
  background-color: var(--main-bg-light);
}

.main-bg-dark {
  background-color: var(--maing-bg-dark);
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.primary-light {
  color: var(--primary-light);
}

.secondary-light {
  color: var(--secondary-light);
}

.secondary-very-light {
  color: var(--secondary-very-light);
}

.accent-bg {
  background-color: var(--accent);
}

.primary-bg {
  background-color: var(--primary);
}

.secondary-bg {
  background-color: var(--secondary);
}

.primary-light-bg {
  background-color: var(--primary-light);
}

.secondary-light-bg {
  background-color: var(--secondary-light);
}

/* BUTTONS */

.btn-primary {
  background-image: linear-gradient(92.88deg, #3c3f62 9.16%, var(--secondary) 64.72%) !important;
  border-radius: 8px !important;
  border-style: none !important;
  box-sizing: border-box !important;
  color: #ffffff !important;
  cursor: pointer !important;
  flex-shrink: 0 !important;
  height: 3rem;
  font-size: 16px !important;
  font-weight: 700 !important;
  text-align: center !important;
  transition: all 0.5s !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  touch-action: manipulation !important;
  text-transform: uppercase !important;
}

.btn-outline-primary {
  border: 2px solid var(--secondary-light) !important;
  color: var(--secondary-light) !important;
}

.btn-outline-primary:hover {
  border: 2px solid var(--secondary-light) !important;
  background-color: var(--secondary-light) !important;
  color: white !important;
}

.btn-primary:hover {
  box-shadow: #2b2b2b88 0 1px 10px;
  transition-duration: 0.1s;
}

/* FORMS */

.form-control:focus {
  border-color: var(--secondary) !important;
  box-shadow: 0 0 0 0.1rem rgba(73, 65, 109, 0.7) !important;
}

/* CHECKBOXES */

.form-check-input:checked {
  background-color: var(--secondary-light) !important;
  border-color: #ffffff !important ;
}

.form-check-input:focus {
  border-color: grey !important;
  outline: 0;
  box-shadow: none !important;
}

/* SIDEBAR */

.letterally-sidebar {
  height: calc(100vh - 2rem);
  width: 280px;
}

.sidebar-link {
  color: white !important;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 8px;
  display: block;
  transition: all 0.2s ease-in-out;
}

.sidebar-link:hover,
.sidebar-link.active {
  background-color: var(--main-bg-light);
  font-weight: 500;
  color: #0d1023 !important;
  text-decoration: none !important;
}

.custom-gap-1rem {
  column-gap: 1rem;
}

/* USER CARD */
.object-cover {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  width: 100%;
}

/* ESSAY PAGE */
.image-wrapper {
  overflow: hidden;
  position: relative;
}

.essay-image {
  width: 100%;
  height: 25rem !important;
  object-fit: cover;
  display: block;
}

.overlay-title {
  background: linear-gradient(to top, var(--secondary-light), rgba(0, 0, 0, 0.1) 50%, transparent);
  color: white;
  padding: 1.5rem 1rem;
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: end;
}

.essay-text {
  line-height: 2.2rem;
  font-size: 1.2rem;
  text-align: justify;
}

.card-outline {
  outline: 2px solid var(--secondary-light);
}

.card-secondary-bg {
  background-color: var(--secondary) !important;
}
